---
import { Image } from "astro:assets";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import type { ImageMetadata } from 'astro';

interface Props {
	date?: string;
	image: ImageMetadata;
	title: string;
	description: string;
	prevPost: any;
	nextPost: any;
}

const { title, description, image, date, prevPost, nextPost } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main id="main" class="container p-8 mx-auto mb-4">
			<article>
				<div class="hero-image mb-2">
					<Image width={1020} height={510} src={image} alt="" class="aspect-video object-cover" />
				</div>
				<div class="prose">
					<div class="date text-sm mb-4">
						{date && <FormattedDate date={date} />}
					</div>
					<h1>{title}</h1>
					<slot />
				</div>
			</article>
			<hr class="my-4" />
			<nav class="flex">
				{prevPost && <a class="mr-auto" href={`/blog/${prevPost.slug}/`}>Previous Post<div class="text-sm">{prevPost.data.title}</div></a>}
				{nextPost && <a class="ml-auto text-right" href={`/blog/${nextPost.slug}/`}>Next Post<div class="text-sm">{nextPost.data.title}</div></a>}
			</nav>
		</main>
		<Footer />
	</body>
</html>
